*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(72.66deg,
    #756de7 5%,
      #150320 100%);
      display: flex;
      align-items: center;
      justify-content: center;
}
.container{
    border: 2px solid snow;
    padding: 30px 40px;
    width: auto;
}